.chat-header {
  padding: 20px;
  position: relative;
}
.chat-title__manager-avatar {
  border-radius: 100%;
  position: absolute;
  top: 20px;
  left: 20px;
}
.chat-title__manager-info {
  width: 170px;
  margin-left: auto;
}
.chat-title__manager-name {
  font-size: 16px;
}
.chat-title__manager-position {
  font-size: 12px;
}
.chat-title__manager-services {
  font-size: 14px;
}
.chat-title__manager-services {
  background-color: #fffbc8;
  border: 1px solid #cecabf;
}