//@import "utils/libs";
//@import "utils/vars";
//@import "utils/mixins";
//@import "utils/fonts";

//html {
//  line-height: $mainLineHeight;
//	font-size: $mainFontSize;
//	color: $mainFontColor;
//  height: 100%;
//  @media screen and (max-width: $desktopWidth) {
//		font-size: 16px;
//  }
//  @media screen and (max-width: $tableWidth) {
//		font-size: 15px;
//  }
//  @media screen and (max-width: $phoneWidth) {
//		font-size: 14px;
//  }
//}

body, ul, div, li, p, span {
  font-family: Arial;
  margin: 0;
  padding: 0;
}
ul {
  list-style-type: none;
}
div, section, article {
  box-sizing: border-box;
}
// Modules
@import "modules/wrapper.scss";
